*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #1f2428;
  background-image: url("../images/other/acct_creation_bg.jpg");
  background-position: -20vw 0;
  background-size: 50%;
  background-repeat: no-repeat;
}

h3{
  color: #ffffff;
  font-size: 22px;
  font-family: Sans-serif;
  font-weight: normal;
}

p{
  margin: 9px 0;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  text-decoration: none;
  color: #66c0f4;
}

input{
  background: #32353C;
  color: #E9E9E9;
  border-radius: 3px;
  width: 100%;
  padding: 8px 6px;
  display: block;
  border: none;
}

#i_agree_check{
  width: auto;
  display: inline;
}

select{
  width: 100%;
  background: #32353C;
  border-radius: 3px;
  color: #E9E9E9;
  padding: 8px 6px;
  display: block;
  box-shadow: none;
  border: none;
  transition: border ease-in-out .5s;
}

li{
  color: #ffffff;
}

/* header divs and possibly other poo */
#header{
  background: #171d25;
  font-family: Sans-serif;
  font-size: 14px;
  
  width: 100vw;
  height: 104px; /*arbitrary steam poopoo number*/
}

#centered_header{
  height: 104px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 176px;
  height: 44px;
}

#supernav_container{
  margin-left: 10px;
}

#supernav_container a{
  font-size: 16px;
  font-weight: bold;
  padding: 0 7px;
  color: #dcdedf;
}
#supernav_container a:hover{
  color: #ffffff;
}



/* main divs are down here */
#main{
  width: 100vw;
  padding-bottom: 0px;
}

#centered{
  max-width: 855px;
  padding: 50px;
  margin: 0 auto;
}

#form_div{
  padding: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Sans-serif;
  font-size: 14px;
  color: #b8b6b4;
  font-weight: normal;
}

#form_content{
  width: inherit;
}

#form_title{
  margin-bottom: 30px;
}
#form_title h1{
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 100;
  font-size: 34px;
  letter-spacing: 2px;
  color: #ffffff;
}

.form_area{
  width: 90%;
  margin:0 auto;
}

.form_row_flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px 0;
}

#eu_ssa_box{
  height: 337px; /*arbitraty booboo number stolen from Steam*/
  border: 1px #364c59 solid;

  padding: 10px;
  margin-bottom: 40px;
}

#ssa_body{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px;
}

#numbered_list li{
  color: #b3b3b3;
  margin-left: 13px;
}
.lettered_list{
  list-style-type: upper-alpha;
}

.white_list li{
  color: #ffffff !important;
}

#create_account_div{
  width: auto;
  margin: 0 auto;
  width: 50%;
  margin-top: 35px;
}

#createAccountButton{
  color: #c3e1f8;
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 100%);
    
  width: 100%;
  height: 35px;
  font-family: Arial,Helvetica,sans-serif;
  text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
  font-size: 15px;
  border: none;
  border-radius: 2px;
}
#createAccountButton:hover{
  cursor: pointer;
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
  background-size: auto;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  background-position: 0%;
  background-size: 330% 100%;
  color: #ffffff;

  padding: 3px;
  border-radius: 2px;
}



/* HANDLES RESPONSIVENESS */
@media (max-width: 900px) {
  body{
    background-position: -6969420px 0; /*yummy arbitrary number :)*/
  }

  select{
    width: 100%;
  }

  .form_area{
    width: 100%;
  }

  #main{
    padding-bottom: 120px;
  }

  #form_div{
    padding: 20px 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sans-serif;
    font-size: 14px;
    color: #b8b6b4;
    vertical-align: top;
    font-weight: normal;
  }

  #createAccountButton{
    width: 100%;
  }

  #create_account_div{
    width: 100%;
    margin-top: 35px;
  }

  #form_title h1{
    font-size: 29px;
  }

  #supernav_container{
    display: none; /*browser HARDCORE ignorira ta element*/
  }
}